.AppBar a {
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
}

.AppBar button {
  color: inherit;
  margin-left: 12px;
}

.pages {
  align-items: center;
  margin-left: 20px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
