/* Event card content styling */
.event-card-content {
    position: relative;
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.event-card-content:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.event-card {
    overflow: hidden; /* Ensures the content stays within bounds */
}

/* Image container styling */
.event-image-container {
    width: 100%;
    height: 200px; /* Set the height to the desired fixed size */
    overflow: hidden; /* Hide any overflow to ensure a clean display */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: background color to fill the container */
}

.event-image {
    width: auto;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

/* Category pill styling */
.category-pill {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.category-green { background-color: green; }
.category-red { background-color: red; }
.category-blue { background-color: blue; }
.category-brown { background-color: brown; }
.category-navy { background-color: navy; }

/* Event type pill styling */
.event-type-pill {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10px;
    margin-right: 10px; /* Add space between pills */
}

.event-type-upcoming { background-color: orange; }
.event-type-current { background-color: navy; }
.event-type-past { background-color: gray; }

/* Custom select styling */
.custom-select-opener {
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.5rem;
    background-color: #fff;
    height: 4.5rem; /* Adjust height as necessary */
    padding: 1.1rem 3rem 1.1rem 1.6rem;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.custom-select-opener:hover {
    background-color: #f0f0f0; /* Optional: Add hover effect */
}

/* Margin for event card items */
.event-card-item {
    margin-bottom: 300px; /* Adjust this value as needed */
}

.event-card-grid {
    display: flex;
    flex-direction: column;
}
.event-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* or whatever suits your design */
}


