/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* pages.css */

.pages-content {
    position: relative;
}

/* Container for images in events and rewards tiles */
.pages-image-container {
    width: 100%;
    height: 200px;
    /* Set the desired height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Image styling to maintain aspect ratio and cover container */
.pages-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 8px;
}

.category-pill {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    /* Adjust padding for pill size */
    border-radius: 20px;
    /* Adjust border radius for pill shape */
    font-size: 14px;
    /* Adjust font size */
    font-weight: 300;
    /* Adjust font weight (300 is lighter, 400 is normal) */
    margin-left: 4px;
    /* Adjust spacing between icon and text */
}


.category-green {
    background-color: green;
    color: #fff;
    /* Adjust text color */
}

.category-red {
    background-color: red;
    color: #fff;
    /* Adjust text color */
}

.category-blue {
    background-color: blue;
    color: #fff;
    /* Adjust text color */
}

.category-lightgreen {
    background-color: lightgreen;
    color: #000;
    /* Adjust text color */
}

.category-orange {
    background-color: orange;
    color: #fff;
    /* Adjust text color */
}

.category-purple {
    background-color: purple;
    color: #fff;
    /* Adjust text color */
}

.category-grey {
    background-color: grey;
    color: #fff;
    /* Adjust text color */
}

/* new to be added to update 8 */
/* pages.css */

.pages-image-container {
    width: 100%;
    height: 200px;
    /* Set the height to the desired fixed size */
    overflow: hidden;
    /* Ensure that any overflow is hidden */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-image {
    width: auto;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the container while maintaining aspect ratio */
}

.expired-reward {
    opacity: 0.6;
    position: relative;
}

.expired-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
}

.max-redeemed-reward {
    opacity: 0.6;
    position: relative;
}

.max-redeemed-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
}

.leaderboard {
    margin-top: 4rem;
}

.leaderboard h4 {
    text-align: center;
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard thead th {
    padding: 1rem;
    text-align: left;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.leaderboard tbody tr {
    border-bottom: 1px solid #ddd;
}

.leaderboard tbody td {
    padding: 0.8rem;
    text-align: left;
}

.leaderboard tbody tr:last-child td {
    border-bottom: none;
}

.leaderboard .MuiSnackbarContent-root {
    background-color: #d4edda;
    color: #155724;
}

.homepage {
    display: grid;
    grid-template-areas:
        "events-tile rewards-tile"
        "greeting-tile points-tile";
    grid-gap: 20px;
    padding: 20px;
}
.card-title {
    font-size: 35px;
}

/* Fixed sizes for tiles */
.tile-large {
    width: 100%;
    height: 40rem;
    /* Set the fixed height for large tiles */
}

.tile-medium {
    width: 100%;
    height: 40rem;
    /* Set the fixed height for medium tiles */
}

.tile-small {
    width: 100%;
    height: 150px;
    /* Set the fixed height for small tiles */
}

/* Container for images in events and rewards tiles */
.pages-image-container {
    width: 100%; /* The container takes up the full width of its parent */
    height: 300px; /* Set a fixed height for the images */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide any overflow to ensure a clean display */
    background-color: #f0f0f0; /* Optional: background color to fill the container */
}

/* Image styling to maintain aspect ratio and cover container */
.pages-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

/* Additional styles */

.homepage {
    display: grid;
    grid-template-areas:
        "events-tile rewards-tile"
        "greeting-tile points-tile";
    grid-gap: 20px;
    padding: 20px;
}

.greeting-tile {
    grid-area: greeting-tile;
}

.points-tile {
    grid-area: points-tile;
}

h2 {
    margin: 0 0 10px 0;
}

.carousel {
    text-align: center;
}

/* Specific styles for event and reward images */
.carousel img {
    max-width: 100%;
    height: 30rem;
    border-radius: 8px;
}

.reward-carousel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.reward-item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.reward-image {
    height: 11rem;
    width: auto;
    max-width: 19rem;
    border-radius: 10%;
}

.reward-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.reward-item:hover .reward-title {
    opacity: 0.8;
    
}

/* Background image for welcome section */
.welcome-section {
    background-image: url('../../public/home_bg.png'); /* Replace with actual path */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
}

/* pages.css */

.homepage {
    display: grid;
    grid-template-areas:
        "welcome welcome"
        "points volunteers"
        "events rewards";
    grid-gap: 20px;
    padding: 20px;
}

.welcome-section {
    grid-area: welcome;
    background-image: url('../../public/home_bg.png'); /* Replace with actual path */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
}

.middle-nav {
    grid-area: points;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.points-box, .volunteers-box {
    padding: 20px;
    border-radius: 8px;
}

.points-box {
    background-color: #f8d7da; /* Change background color as needed */
}

.volunteers-box {
    background-color: #eaf8ea; /* Change background color as needed */
}

.events-tile {
    grid-area: events;
}

.rewards-tile {
    grid-area: rewards;
    background-color: rgb(200, 224, 228);
    padding: 20px;
    border-radius: 8px;
    /* height: 380px; */
}

.carousel img {
    max-width: 100%;
    height: 30rem;
    border-radius: 8px;
}

.reward-item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.reward-item img {
    width: 100px; /* Adjust width */
    height: 100px; /* Adjust height */
    object-fit: cover; /* Ensure the image covers the container */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.reward-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); /* Dark background for readability */
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0; /* Hide title by default */
    transition: opacity 0.3s ease; /* Smooth transition */
    z-index: 1; /* Ensure title appears above the image */
}

.reward-item:hover .reward-title {
    opacity: 1; /* Show title on hover */
}

.reward-item:hover img {
    opacity: 0.7; /* Optionally, reduce image opacity on hover */
}

.volunteer-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    text-align: center; /* Centers text inside the section */
    background-color: rgb(234, 207, 235);
    padding: 20px;
    border-radius: 8px;
}

.volunteer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    align-items: center;
}

.volunteer-para {
    align-items: center;
}
/* Apply the font to the entire page */
body {
    font-family: 'Roboto', sans-serif;
}

/* Apply the font to specific elements */
.card-title {
    font-family: 'Roboto', sans-serif;
}

.volunteer-title {
    font-family: 'Roboto', sans-serif;
}

.volunteer-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 16px;
    color: #fff;
    background-color: #13305d; /* Green background */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease;
}

.volunteer-button:hover {
    background-color: #70a8e3; /* Darker green on hover */
}
