/* pages.css */

.pages-card-content {
    position: relative;
}

.pages-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pages-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.category-pill {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    padding: 6px 12px; /* Adjust padding for pill size */
    border-radius: 20px; /* Adjust border radius for pill shape */
    font-size: 14px; /* Adjust font size */
    font-weight: 300; /* Adjust font weight (300 is lighter, 400 is normal) */
    margin-left: 4px; /* Adjust spacing between icon and text */
}


.category-green {
    background-color: green;
    color: #fff; /* Adjust text color */
}

.category-red {
    background-color: red;
    color: #fff; /* Adjust text color */
}

.category-blue {
    background-color: blue;
    color: #fff; /* Adjust text color */
}

.category-brown {
    background-color: brown;
    color: #fff; /* Adjust text color */
}

.category-navy {
    background-color: navy;
    color: #fff; /* Adjust text color */
}

/* new to be added to update 8 */
/* pages.css */

.pages-image-container {
  width: 100%;
  height: 200px; /* Set the height to the desired fixed size */
  overflow: hidden; /* Ensure that any overflow is hidden */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-image {
  width: auto;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}